services:
  backend:
    image: nikanostovan/price-tracker:latest
    container_name: price-tracker
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - APPLICATION_ID=${APPLICATION_ID}
      - PUBLIC_KEY=${PUBLIC_KEY}
      - MONGODB_URI=${MONGODB_URI}
      - CHANNEL_ID=${CHANNEL_ID}
      - GEO_API_KEY=${GEO_API_KEY}
      - HOME_LAT=${HOME_LAT}
      - HOME_LONG=${HOME_LONG}
