services:
  backend:
    image: nikanostovan/price-tracker:latest
    container_name: price-tracker
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - APPLICATION_ID=${APPLICATION_ID}
      - PUBLIC_KEY=${PUBLIC_KEY}
      - MONGODB_URI=${MONGODB_URI}
      - CHANNEL_ID=${CHANNEL_ID}
      - GEO_API_KEY=${GEO_API_KEY}
      - HOME_LAT=${HOME_LAT}
      - HOME_LONG=${HOME_LONG}
    depends_on:
      - gluetun

  gluetun:
    image: qmcgaw/gluetun
    # container_name: gluetun
    # line above must be uncommented to allow external containers to connect.
    # See https://github.com/qdm12/gluetun-wiki/blob/main/setup/connect-a-container-to-gluetun.md#external-container-to-gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp # HTTP proxy
    volumes:
      - /yourpath:/gluetun
    environment:
      # See https://github.com/qdm12/gluetun-wiki/tree/main/setup#setup
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=openvpn
      - OPENVPN_PROTOCOL=tcp
      # - WIREGUARD_PRIVATE_KEY=SK7sYYNKH1sCevlEzFkz2gvmcAd3O/yiH0Y8c+wt8mM=
      # OpenVPN:
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - FREE_ONLY=on
      - SERVER_COUNTRIES=United States
      - HTTPPROXY=on
      - HTTPPROXY_STEALTH=on
  restarter:
    image: docker:cli
    volumes: ["/var/run/docker.sock:/var/run/docker.sock"]
    command:
      [
        "/bin/sh",
        "-c",
        "while true; do sleep 86400; docker restart price-tracker-gluetun-1; done",
      ]
    restart: unless-stopped
