services:
  backend:
    image: nikanostovan/price-tracker:latest
    container_name: price-tracker
    restart: unless-stopped
    environment:
      - APPLICATION_ID=${APPLICATION_ID}
      - PUBLIC_KEY=${PUBLIC_KEY}
      - MONGODB_URI=${MONGODB_URI}
      - CHANNEL_ID=${CHANNEL_ID}
